.header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(29, 131, 190);
}

.container {
    display: inline-flex;
    justify-content: space-evenly;
    max-width: 100%;
}

.right {
    height: 20em;
    width: 30em;
    background-color: rgb(255, 222, 182, .7);
}